<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>clinicFindings</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

</head>
<body>
 <div class="container">
  <nav th:replace="parts/top-nav"></nav>
 <!-- 　定型　診療所見-->
<h1>定型　診療所見</h1>

 <div class="row">
   <nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a th:href="@{/homePage}">Home</a></li>
			    <li class="breadcrumb-item"><a th:href="@{/homePage}">文書一覧</a></li>
			    <li class="breadcrumb-item"><a th:href="@{/addKanjaInfo}">新規作成</a></li>
			    <li class="breadcrumb-item active" aria-current="page">定型　診療所見作成</li>
			  </ol>
			</nav>

 <div class="col-4">
 <form th:object="${cfdb}">
<table  class="table table-warning">


<tr><td >医療機関</td><td　th:text="'日付：'+*{inquiryTime}"></td></tr>
<tr><td>担当医</td><td></td></tr>

<tr><td>患者氏名</td><td th:text="*{name}+'　　　　　　　　　性別：　'+*{gender}"></td></tr>
<tr><td>患者住所  〒</td><td th:text="*{postalCode}+'   '+*{address}"></td></tr>
<tr><td>電話番号</td><td th:text="*{homeTel}"></td></tr>
<tr><td>生年月日</td><td th:text="*{birthday}"></td></tr>
</table>

</form>
 </div>


 <div class="col-8">
 <div class="card">
 <div class="card-body">
 <form   th:action="@{/saveClinicFindings}" th:object="${cfdb}" method="post" >
<table>
<tr><td >所見日</td><td><input  type="date" th:field="*{inquiryTime}" ></td></tr>
<tr><td>subjective</td><td><textarea     th:field="*{subjective}"  style="width:750px;height:75px " class="form-control" ></textarea></td></tr>
 <tr><td>objective</td><td><textarea   th:field="*{objective}" style="width:750px;height:75px " class="form-control" ></textarea></td></tr>
<tr><td>assessment</td><td><textarea   th:field="*{assessment}" style="width:750px;height:75px " class="form-control" ></textarea></td></tr>
<tr><td>plan</td><td><textarea   th:field="*{plan}" style="width:750px;height:75px " class="form-control"></textarea></td></tr>


</table>
  <div class="d-flex">
                   <button type="submit" class="ms-auto btn btn-primary" style="display:block;margin:0 auto">作成する</button>
                   </div>
<!-- <table class="table table-primary"><tr ><td align="center"><input type="submit" value="登 录"></td></tr></table> -->

<!--  多行输入 暂时无法解决去除换行空格的问题-->
 <!-- <textarea  cols="100" rows="5"  th:field="*{subjective}"></textarea> -->



 <input th:field="*{kanjaId}" type="hidden" value="*{kanjaId}">
         <input th:field="*{uketoriId}" type="hidden" value="*{uketoriId}">
        <input th:field="*{name}" type="hidden" value="*{name}"> <input
           th:field="*{kana}" type="hidden" value="*{kana}"> <input
            th:field="*{birthday}" type="hidden" value="*{birthday}"> <input
            th:field="*{gender}" type="hidden" value="*{gender}"> <input
            th:field="*{postalCode}" type="hidden" value="*{postalCode}">
         <input th:field="*{address}" type="hidden" value="*{address}">
         <input th:field="*{homeTel}" type="hidden" value="*{homeTel}">
         <input th:field="*{workTel}" type="hidden" value="*{workTel}">


</form>

 </div>
</div>
</div>

 </div>
 </div>




















<footer th:replace="parts/footer"></footer>
</body>
</html>